<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <h1>Anbar</h1>
    <ul>
        <li>Elektrik Supurgesi</li>
        <li>Caydan</li>
        <li>Caydan</li>
    </ul>
    <h1>Anbar Mehsul Siyahisi</h1>
    <table border="1">
        
        
          <tr style="color: white
          ;">
            <th style="background-color:green ;">Mehsul Adi</th>
            <th style="background-color:green ;">Miqdari</th>
            <th style="background-color:green ;">Qiymeti</th>
            <th style="background-color:green ;">Stok Kodu</th>
        <tr>
            <tr>
            <td>Mehsul 1</td>
            <td>20</td>
            <td>150 AZN</td>
            <td>ES1234</td>
          </tr>
          <tr>
            <td>Mehsul 2</td>
            <td>50</td>
            <td>30 AZN</td>
            <td>ES5678</td>
          </tr>
          <tr>
            <td>Mehsul 3</td>
            <td>10</td>
            <td>50 AZN</td>
            <td>ES9101</td>
          </tr>
          <tr>
            <td>Mehsul 4</td>
            <td>30</td>
            <td>20 AZN</td>
            <td>ES1121</td>
          </tr>
          <tr>
            <td>Mehsul 5</td>
            <td>40</td>
            <td>10 AZN</td>
            <td>ES3141</td>
          </tr>
          <tr>
            <td>Mehsul 6</td>
            <td>15</td>
            <td>100 AZN</td>
            <td>ES5161</td>
          </tr>
       
      </table>
      
</body>
</html>